<div class="columns">
    <div class="column is-fullheight is-1" style="width: 125px; background-color: rgb(255, 105, 105);">
        <div class="block"></div>
        <section class="hero is-fullheight">
            <aside class="menu" uk-sticky>
                <h3 class="menu-label">
                    DataStreams
                </h3>
                <ul class="menu-list">
                    <li><a href="/ignCards?type=client" hx-get="/ignCards?type=client" hx-target="#main-body">Ignition</a></li>
                    <li><a href="#">HETOLOK</a></li>
                    <li><a href="#">Go4</a></li>
                </ul>
            </aside>
        </section>
    </div>
    <div class="column">
        <div style="overflow-y: scroll; height: 900px;">
            <ul class="uk-breadcrumb">
                <li><a href="/">Home</a></li>
                {{range $i, $s := .Bc}}
                    <li>{{$s}}</li>
                {{end}}
            </ul>
            <div class="block"></div>
        {{if .Er}}
            <div class="box has-background-danger-light	">
                <div class="content is-medium ">
                    <h2 class="has-text-black-bis">ERROR</h2>
                    <p class="has-text-black-bis">{{.Ms}}</p>
                </div>
            </div>
        {{else}}
            {{$Cs := .Cs}}
            {{$Cn := .Cn}}
            <div class="block">
                <div class="uk-grid-small uk-child-width-1-3@s uk-text-center" uk-grid>
                    {{ range $i, $c := .Alert}}
                    <a href="{{$Cs}}{{$c.Name}}" hx-get="{{$Cs}}{{$c.Name}}" hx-target="#main-body">
                        <div class="uk-card uk-card-default uk-card-body uk-card-hover" style="background-color: rgb(233, 160, 160);">
                            <p>{{$c.Name}}</p>
                            <p>{{$Cn}}: {{$c.ChildCount}}</p>
                            <p>Alert: {{$c.Alert}}</p>
                            <p>Warn: {{$c.Warn}}</p>
                            <p>Good: {{$c.Good}}</p>
                        </div>
                    </a>
                    {{end}}
                    {{ range $i, $c := .Warn}}
                    <a href="{{$Cs}}{{$c.Name}}" hx-get="{{$Cs}}{{$c.Name}}" hx-target="#main-body">
                        <div class="uk-card uk-card-default uk-card-body uk-card-hover" style="background-color: rgb(233, 232, 160);">
                            <p>{{$c.Name}}</p>
                            <p>{{$Cn}}: {{$c.ChildCount}}</p>
                            <p>Alert: {{$c.Alert}}</p>
                            <p>Warn: {{$c.Warn}}</p>
                            <p>Good: {{$c.Good}}</p>
                        </div>
                    </a>
                    {{end}}
                    {{ range $i, $c := .Good}}
                    <a href="{{$Cs}}{{$c.Name}}" hx-get="{{$Cs}}{{$c.Name}}" hx-target="#main-body">
                        <div class="uk-card uk-card-default uk-card-body uk-card-hover" style="background-color: rgb(172, 233, 160);">
                            <p>{{$c.Name}}</p>
                            <p>{{$Cn}}: {{$c.ChildCount}}</p>
                            <p>Alert: {{$c.Alert}}</p>
                            <p>Warn: {{$c.Warn}}</p>
                            <p>Good: {{$c.Good}}</p>
                        </div>
                    </a>
                    {{end}}
                </div>
            </div>
        {{end}}
        </div>
        <div class="column"></div>
    </div>
</div>