<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
        <title>HART</title>
    </head>
    <body>
        <nav class="navbar is-info" style="height: 30px">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://www.hydrologik.com/" target="_blank">
                    <img src="/resources/logo_2.png" width="45" height="60" alt="hydrologik.com">
                </a>
                <a class="navbar-item" href="#HART-modal" uk-toggle>
                    <h1>HART</h1>
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <form action="/logout" method="post">
                            <button class="btn btn-light me-">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
    </body>



</html>