<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>HART</title>
    </head>
    <style>
        #mainBlock {
          background-image: url('/resources/Yampa_hero.jpg');
          background-repeat: no-repeat;
        }
    </style>
    <body>
        <div id="mainBlock" class="block">
            <section class="hero is-fullheight">
                <div id="mainBlock" class="hero-body">
                    <div class="container has-text-centered">
                        <p class="title is-1 has-text-black-bis">HART</p>
                        <form action={{.}} method="post">
                            <div class="field">
                                <p class="control">
                                    <input class="button is-black" type="submit" value="Log In">
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>